NODE_ENV=development
PORT=3000

# Conexiones de Neon PostgreSQL
DATABASE_URL="postgresql://USER:PASSWORD@HOST-pooler.REGION.aws.neon.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST.REGION.aws.neon.tech/neondb?sslmode=require"

# Correo para enviar códigos de verificación
EMAIL_HOST=smtp-relay.sendinblue.com
EMAIL_PORT=587
EMAIL_USER="usuario_smtp_de_brevo"
EMAIL_PASSWORD="smtp_key_de_brevo"
EMAIL_FROM="correo_remitente_verificado"
BREVO_API_KEY=""
